---
layout: page
permalink: /cv/
title: Resume
---

<h2>Professional Experience</h2>
{% assign exp_sorted = site.data.cv_experience | sort: "start_date" | reverse %}
{% for job in exp_sorted  %}
<div class="row">
  <div class="col-md-4">
    <blockquote class="blockquote text-right wow fadeIn" data-wow-delay="0.{{forloop.index }}s">
      <p class="mb-0">{{ job.company_name }}</p>
      <footer>{{ job.start_date | date: "%b %Y" }} to {{ job.end_date | date: "%b %Y" }}</footer>
    </blockquote>
  </div>

  <div class="col-md-8">
    <div class="card wow fadeIn" data-wow-delay="0.{{forloop.index }}s">
      <div class="card-body">
        <h4 class="card-title text-primary-color">{{ job.job_title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ job.location }}</h6>
        <p class="card-text">{{ job.description | markdownify }}</p>
      </div>
    </div>
  </div>
</div><!-- /row -->
</br>

{% endfor %}

<h2>Certifications</h2>

<div class="row">
{% assign cert_sorted = site.data.cv_certifications | sort: "date" | reverse %}
{% for cert in cert_sorted %}
{% assign remainder = forloop.index | modulo: 3 %}

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
  <div class="card border-success mb-3">
    <div class="card-header text-success">{{ cert.issuer }}</div>
    <div class="card-body">
      <h4 class="card-title"><a href="{{ cert.link }}" target="_blank">{{ cert.title }}</a></h4>
      <small class="text-muted">{{ cert.date | date: "%B %Y" }}</small>

      {% if cert.credly_share_id %}
      </br>
      <div class="float-left" style=" margin: 5px;">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="{{ cert.credly_share_id }}" data-share-badge-host="https://www.credly.com">
      </div>
      <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script></div>
      {% endif %}

      <p class="card-text text-justify">{{ cert.description | markdownify }}</p>

      {% if cert.cert_code %}
      <div class="float-left"><pre class="text-success">{{ cert.cert_code }}</pre></div>
      {% endif %}

      {% if cert.cert_link %}
      <div class="float-right"><a href="{{ cert.cert_link }}" target="_blank"><button type="button" class="btn btn-sm btn-outline-success">Certificate</button></a></div>
      {% endif %}
    </div>
  </div>
</div><!-- col-lg-4 -->

{% if remainder == 0 %}
</div><!-- /row -->
</br>
<div class="row">
{% endif %}

{% endfor %}
</div><!-- /row -->
</br>
<div class="row">
  <div class="col-md-6">
    <h2>Skills</h2>

    <div class="card border-primary wow fadeIn">
      <div class="card-body">
        {% assign tech-skills = site.data.cv_skills | where: "category", "itskill" %}
        <ul class="fa-ul">
        {% for skill in tech-skills %}
          <li><h5><span class="fa-li text-primary-color"><i class= "fa-lg fab {{ skill.icon }}"></i></span>{{ skill.name }}</h5></li>
          <p>{{ skill.description }}</p>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Languages</h2>

    {% assign lang-skills = site.data.cv_skills | where: "category", "language" | sort: "level" | reverse %}
    {% for skill in lang-skills %}
    <h5>{{ skill.flag }} {{ skill.name }} <small class="text-muted">{{ skill.description }}</small></h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped wow fadeInLeft" role="progressbar" style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div></br>
    {% endfor %}
  </div>
</div><!-- row -->
</br>

<h2>Education</h2>

{% for ed in site.data.cv_education %}
<div class="row">

  <div class="col-md-4">
    <p class="lead text-primary-color">{{ ed.school_name }}, {{ ed.city }}</br>
    <small class="text-muted">{{ ed.start_date | date: "%Y" }} - {{ ed.end_date | date: "%Y" }}</small></p>
  </div>

  <div class="col-md-8">
    <h4>{{ ed.diploma }}</h4>
    <p class="lead">{{ ed.description | markdownify }}</p>
  </div>
</div>

{% endfor %}
