<a href="https://dashboard.simpleanalytics.com/sm2g.github.io?utm_source=sm2g.github.io&utm_content=badge"
  referrerpolicy="origin" target="_blank" class="lt-sa-badge">
  <picture>
    <source srcset="https://simpleanalyticsbadges.com/sm2g.github.io?mode=dark" media="(prefers-color-scheme: dark)" />
    <img src="https://simpleanalyticsbadges.com/sm2g.github.io?mode=light"
      loading="lazy" referrerpolicy="no-referrer" crossorigin="anonymous" alt="Simple Analytics badge" />
  </picture>
</a>