    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <!--<div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>-->


        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2><i class="fa fa-road fa-2x"></i> Projects and Experiences</h2>
              SINCE 2012-07 RAKUTEN – PRICEMINISTER, DATABASE ADMINISTRATOR
<h3>Database Administration</h3>
<p>Oracle 10g administration on Linux RHEL 5, and Mysql on Debian.
Responsible for development, integration (testing) and production databases.
Monitoring of the technical platform with Nagios.
Standardization of recurring processes and automation of recurring tasks using Bash scripts.</p>
<h3>Database Tuning and optimization</h3>
Analysis of queries on production database and created improved indices
Created physical standby databases to run reporting queries.
Mysql database migration from 5.1 to 5.6
Yearly creation of integration database for pre-production testing.
Created an archival system for BI data.
Oracle Database Administration on Windows Server
Internal training on performance optimization to developers
Optimization & Tuning
Managed performance tests and result analysis
Improved database response time
Defined partitioning and indexing strategies
Participated in performance missions on client site (BNP, Bouygues Tel)

Reverse engineering on Oracle 10g
Used TOAD, SQL Developer and stored procedures to understand and extract data structures ! Responsible for database administration and updates
Re-design
Used SPARX Systems Enterprise Architect to concieve an improved data model
2008 - 2009 SUPINFO 4 TH YEAR, ORACLE TEACHER IN CHINA
Long-term teaching missions in China ° Partnership with Chinese universities
Shandong University of Science and Technology ! Jiangsu University of Science and Technology ! Hebei University of Technology
SUPINFO Beijing
          </div>
        </div>
    </section>
