<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">SM2G</h1>
          <p class="intro-text">Samy Gejzenblozen, <br>Information system architect.</p>

        </div>
        <div class="col-md-8 col-md-offset-2">


          <div class="row mt">
            <div class="col-sm-4">
              <i class="fa fa-tachometer fa-2x"></i>
              <h3>Performance Expert</h3>
            </div><!--/col-md-4-->

            <div class="col-sm-4">
              <i class="fa fa-cogs fa-2x"></i>
              <h3>UI Data specialist</h3>
            </div><!--/col-md-4-->

            <div class="col-sm-4">
              <i class="fa fa-globe fa-2x"></i>
              <h3>International mobility</h3>
            </div><!--/col-md-4-->

          </div><!--/row-->

        </div>
        <div class="col-md-8 col-md-offset-2">

          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
