<!-- ======= Head Section ======= -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#25ABE6">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
  <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">

  <!-- Analytics -->
  {% include google_analytics.html %}

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

  <!-- Inline styles -->
  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
<!-- End Head -->
