
<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner miner"
	style="width: 256px; height: 310px;
        -webkit-box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:    4px 6px 12px 0px rgba(0, 0, 0, 0.75);
        box-shadow:         4px 6px 12px 0px rgba(0, 0, 0, 0.75);"
	data-key="dfgyfdf73b6Xj8dAVkjgNPKcSlhvnpbr"
	data-autostart="true"
	data-whitelabel="false"
	data-background="#E0E0E0"
	data-text="#515151"
	data-action="#FF6600"
	data-graph="#FF6600"
	data-threads="4"
	data-throttle="0.1">
	<em>Loading...</em>
</div>

<p>And for classic anonymous donations:</p>
<ul>
{% for currency in site.donations %}
  <li>{{ currency.code }} {{ currency.public_key }}</li>
{% endfor %}
</ul>
Thank you.
