<!-- post-card -->
<div class="card wow fadeIn" data-wow-delay="0.{{forloop.index }}s">
  <a href="{{ post.url }}" class="terminator-header" style="height: 120px;">
    <div class="scan-line"></div>
    <div class="data-points"></div>
    <div class="category-indicator">{{ post.categories }}</div>
    <div class="header-text">
      <span>ID: {{ post.date | date: "%Y%m%d" }}</span>
    </div>
  </a>
  <div class="card-body">
    <h1 class="terminator-font">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% for tag in post.tags %}
    <span class="badge rounded-pill bg-primary">
      <a href="/tag/{{ tag | slugify }}">#{{ tag }}</a>
    </span>
    {% endfor %}
    <p class="card-text">{{ post.content | strip_html | truncate: 200 }} <a
        href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
    <span class="d-sm-block"><i class="bi bi-calendar-date" aria-hidden="true"></i> {{ post.date | date_to_string }}
      - <i class="bi bi-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
  </div>
</div>