<!-- post-card -->
<div class="card wow fadeIn" data-wow-delay="0.{{forloop.index }}s">
  <figure class="filter bgimage d-none d-md-block">
    <a href="{{ post.url }}"><img src="{{ site.baseurl }}/assets/images/categories/cat-{{ post.categories }}-teaser.jpg"
        class="card-img-top" alt="{{ post.title }}"></a>
  </figure>
  <div class="card-body">
    <h1>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% for tag in post.tags %}
    <span class="badge rounded-pill bg-primary">
      <a href="/tag/{{ tag | slugify }}">#{{ tag }}</a>
    </span>
    {% endfor %}
    <p class="card-text text-justify d-none d-md-block">{{ post.content | strip_html | truncate: 350 }} <a
        href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
    <span class="d-none d-md-block"><i class="fa fa-calendar-day" aria-hidden="true"></i> {{ post.date | date_to_string }}
      - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </div>
</div>