<div class="row">
  <div class="col-md-12">
    <h2>You may also enjoy:</h2>
    {% assign listed_posts_urls = page.url | split: ' ' %}
  </div>
</div>
<div class="row">
  {% for tag in page.tags %}

  {% for post in site.tags[tag] limit: 7 %}

  {% assign remainder = forloop.index | modulo: 3 %}
  {% if listed_posts_urls contains post.url %}
  {% else %}

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
    {% include post-card.html %}
  </div> <!-- col-lg-4 -->

  {% if remainder == 0 %}
    </div><!-- /row -->
    </br>
    <div class="row">
  {% endif %}

  {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
