<div class="row">

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Feel free to share!</div>
    <div class="card-body">
      <p class="card-text">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}&amp;via={{ site.author.twitter }}" target="_blank"><i class="fa-fw fa-3x fab fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa-fw fa-3x fab fa-facebook" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa-fw fa-3x fab fa-google-plus" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>
