// Main Colors
$primary-color: #ff8c00;
$secondary-color: #778899;
$highlight: #ffeea8;
$text: #f8f8ff;
$light-grey: #A4A4A4;
$medium-grey: #6B6B6B;
$dark-grey: #474747;

$white: #ffffff;
$black: #101010;

// Transition
$global-transition: .30s;
