// Fonts
$primary-font: "Nunito";
$secondary-font: "Helvetica";
$code-font: 'IBM Plex Mono', monospace;
$terminator-font: 'Orbitron', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
