---
layout: default
---
<div class="container">
  <article class="content-section">
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <div class="post-meta">
        <span class="post-category highlight-element">{{ page.categories }}</span>
        <span class="post-date">
          {% assign d = page.date | date: "%-d" %}
          {{ page.date | date: "%B" }}
          {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th{% endcase %},
          {{ page.date | date: "%Y" }}
        </span>
        <span class="post-author">by {{ site.author.name }}</span>
      </div>
    </header>

    <div class="post-content">
      {{ content }}
    </div>

    <footer class="post-footer">
      {% if page.tags.size > 0 %}
      <div class="post-tags">
        <h3>Tags:</h3>
        <div class="tags-container">
          {% for tag in page.tags %}
          <a href="/tag/{{ tag | slugify }}" class="tag-badge">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </footer>
  </article>
</div><!-- container -->