---
layout: default
---
<div class="container">
  <h1 class="title-terminator target-lock">{{ page.title }}</h1>
  <figure class="filter bgimage">
    <img src="{{ site.baseurl }}/assets/images/categories/cat-{{ page.categories }}.jpg"
      class="img-fluid mx-auto d-block" alt="{{ page.title }} featured image">
  </figure>
  <div class="terminator-data">
    <span class="data-label">SYSTEM:</span> <span class="data-value">ARCHIVE</span>
    <span class="data-label">FILE:</span> <span class="data-value">{{ page.title | upcase }}</span>
    <span class="data-label">STATUS:</span> <span class="data-value blink">ACTIVE</span>
  </div>

  {{ content }}

  <span class="post-date">
    Written on
    {% assign d = page.date | date: "%-d" %}
    {{ page.date | date: "%B" }}
    {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
    by {{ site.author.name }}
  </span>
  {% if page.tags.size > 0 %}
  <h3>Tags:</h3>
  <div class="row">
    <div class="container">
      {% for tag in page.tags %}
      <span class="badge rounded-pill bg-primary">
        <a href="/tag/{{ tag | slugify }}">#{{ tag }}</a>
      </span>
      {% endfor %}
    </div>
  </div></br>
  {% endif %}
</div><!-- container -->